*{
    padding: 0;
    margin: 0;
    background-color: black;
    
}
p{
color: white;

}
.score{
position: absolute;
    font-size: 40px;
    left:240px;
    top:50px;

}
.highscore{
    position: absolute;
        font-size: 20px;
        left:20px;
        top:20px;
        display: flex;
        
    }
#highscore{
    margin-left: 20px;

}
#game{

    width: 500px;
    height: 200px;
    border:  solid white;
    background-color: black;
}
#character{
    width: 20px;
    height: 50px;
    background-color: rgb(119, 182, 1);
    position: relative;
    top: 150px;
    left:40px;
}
.animate{
    animation: jump 500ms ;


}
#block{
    background-color: rgb(212, 0, 255);
    height: 20px;
    width: 20px;
    position: relative;
    top: 130px;
    left: 480px;
    animation: block 2s infinite linear;
    
}
#color{

    animation: colorchange 2s infinite ;
}
@keyframes block{
    0%{left: 480px;}
    100%{left: -40px;}
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 90px;}
    70%{top: 90px;}
    1000%{top: 150px;}

}
@keyframes colorchange {
    0%{background-color: rgb(212, 0, 255);}
    20%{background-color: rgb(119, 0, 255);}
    40%{background-color: rgb(0, 47, 255);}
    60%{background-color: rgb(0, 132, 255);}
    80%{background-color: rgb(149, 3, 179);}
    100%{background-color: rgb(212, 0, 255);}
    
}
.stripes{
    width: 20px;
    height: 5px;
    color: white;
    background-color:white ;
    position: relative;
}
#one{
    top: 18px;

}
#two{
    top: 22px;

}
#three{
    top: 26px;

}
#eyes{
    top: 7px;
    height: 8px;
    display: flex;
    background-color: gray;
}
.eye{
    
    background-color: black;
    height: 3px;
    width: 3px;
    position: relative;
    top: 1px;
    
    
}
.e1{
    left: 30%;

}
.e2{
    right: -50%;
    
}